# "Coding Challenge"
> "Coding Everyday"

- toc:true
- branch: master
- badges: true
- comments: true
- author: Jay
- categories: [Colab, jupyter, Python, CodingEveryday]

## Part1

In [ ]:
del nums[-2:]

In [ ]:
nums

[100, 200, 300]

Question 02

In [ ]:
l = [200, 100, 300]
l.insert(2, 1000)
print(l)

[200, 100, 1000, 300]

Question 03

In [ ]:
l = [100, 200, 300]
print(type(l))

<class 'list'>

In [ ]:
list(range(1,3))

[1, 2]

10

In [ ]:
def star(n):
  #floor = range(1,n+1)
  #num  = 2*n -1 
  for i in range(1, n+1):
    print(' '* (n-i) + '*' * (2*i -1))

In [ ]:
star(5)

NameError: ignored

Q11

In [ ]:
s = 0
for i in range(0,101):
  s += i 
s

5050

Q12

In [ ]:
x = Wizard(health, mana , armor)
print(x.health, x.mana, x.armor)
x.attack()

In [ ]:
class Wizard(health = 545, mana =210, armor = 10):
  
  def __init__(self, health, mana, armor):
    self.health = health
    self.mana = mana
    self.armor = armor
  
  def attack(self):
    print("fireball")

Q13

In [ ]:
planet_list = ["수성", "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성"]
def planet(n):
  print(planet_list[n-1])

In [ ]:
planet(1)

수성

Q14

In [ ]:
def three(n):
  if n // 3 == 0:
    print("짝")
  else:
    print(n)

three(4)

4

In [ ]:
try:
  n = int(input("what nunber"))
  if n // 3 == 0:
    print("even")
  else:
    print(n)
except:
  print("number please")

what nunber123
123

Q15

In [ ]:
def welcome(name):
  print(f'안녕하세요 저는 {name}입니다')

welcome('김다영')

안녕하세요 저는 김다영입니다

Q16

In [ ]:
def reverse(s):
  print(s[::-1])

reverse('abs')

sba

In [ ]:
s = ''
for i in word:
  s  = i + s
s

In [ ]:
def reverse(s):
  if len(s) == 1:
    return s
  else:
    return reverse(s[1:])+ s[0]

In [ ]:
reverse('abcde')

'edcba'

Q18

In [ ]:
data = list(map(int,input().split()))
data

In [ ]:
m

In [ ]:
def find_avg(a,b,c):
  return floor((a+b+c) / 3)

In [ ]:
find_avg(3,4,6)

Q19

In [ ]:
two_num = input("input two numbers with space: ")

input two numbers with space12 34

In [ ]:
two_num.split()

['12', '34']

In [ ]:
two_num = list(map(int,input("input two numbers with space: ").split()))
two_num

input two numbers with space: 23 43

[23, 43]

In [ ]:
time = two_num[0] ** two_num[1]

In [ ]:
time

35834136918934220777541995677272642015423987712183913488967

In [ ]:
numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

numbers = (2,3)
result = map(lambda x: x **2, numbers)
print(list(result))

[2, 4, 6, 8]
[4, 9]

Q20

In [ ]:
two_num = list(map(int,input("input two numbers with space: ").split()))

input two numbers with space: 34 65

In [ ]:
print(two_num[0] % two_num[1])
print(two_num[0] // two_num[1])

34
0

Q21

In [ ]:
type({})

dict

Q24

In [ ]:
name = input("what is ur name? :")

print(name.upper())

what is ur name? :sdfds
SDFDS

In [ ]:
s = ''
for i in name:
  s += chr(ord(i) - 32)
s

'SDFDS'

Q26

In [ ]:
korean_planet = ["수성", "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성"]
English_planet = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

In [ ]:
planet = input("planet? :")
p_index = korean_planet.index(planet)

planet? :수성

In [ ]:
English_planet[p_index]

'Mercury'

In [ ]:
data = zip(korean_planet, English_planet)
dict(data)

Q27

In [ ]:
name_list = list(input("student names? ").split())
grade_list = list(map(int, input("grade? ").split()))

print(name_list, grade_list)

student names? a b c d
grade? 12 34 54 65
['a', 'b', 'c', 'd'] [12, 34, 54, 65]

In [ ]:
keys = input().split()
values = map(int, input().split())

dict(zip(keys, values))

a b
10 20

{'a': 10, 'b': 20}

{'a': 12, 'b': 34, 'c': 54, 'd': 65}

Q28

In [ ]:
i = 0
While True:
  s = input("any string to parse? ")
  print(s[i:i+1])
  i += 1

In [ ]:
data = input()

for i in range(len(data) -1 ):
  print(data[i] + data[i+1])

asfasdb
as
sf
fa
as
sd
db

In [ ]:
data = input()

for i in range(len(data)-1):
  print(data[i] + data[i+1])

safadsv
sa
af
fa
ad
ds
sv

Q29

In [ ]:
word = input()

if word == word.upper():
  print("yes")
else:
  print("no")

w
no

In [ ]:
word = list(input().split())

for i in word:
  if i == i.upper():
    print(i)

w W D e
W
D

In [ ]:
data = input()
work = True

for i in data:
  if ord(i) >=65 and ord(i) <=90:
    continue
  else:
    work = False
    break
else:
  print('yes')
if not work:
  print('no')

a
no

Q30

In [ ]:
sentence = input()
word = input()
sen_list = list(sentence.split())

if word in sen_list:
  print(sentence.index(word))
else:
  print("not in index")

show me the money
the
8

In [ ]:
sen = input()
w = input()

if w in sen:
  print(sen.find(w))

showme the money
me
4

Q32

In [ ]:
length_sentence = len(list(input().split()))

length_sentence

fly to the monn

4

Q33

In [ ]:
nums = list(input().split())
s=''
for i in nums:
  s = i + ' ' + s

rev = list(map(int, s.split()))
rev

1 92 3 4 5

[5, 4, 3, 92, 1]

##part2

Q34

In [ ]:
#l = list(map(int, input().strip().split()))

l = [1,2,3]

[1,2,3] == [1,2,3].sort()

False

In [ ]:
s = input()
l = [float(i) for i in s.split(' ')]
l

177 198 156 178

[177.0, 198.0, 156.0, 178.0]

Q35

In [ ]:
def one(n):
    def two(value):
        return value ** n
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

100
1000
10000

##12/30/21

Q36

In [ ]:
num = int(input())

for i in range(1,10):
  print(num * i, end = " ")

2
2 4 6 8 10 12 14 16 18

In [ ]:
[i * num for i in range(1,10)]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
w = int(input())
s = ''

for i in range(1,10):
  s += str(w * i) + ' '

print(s)

3
3 6 9 12 15 18 21 24 27

Q37

In [ ]:
l = input().split()
l_list = list(l)
l_set = set(l)
b ={}
for i in l_set:
  b[i] = l_list.count(i)

for k, v in b.items():
  if v == max(b.values()):
    print(f'{k} has {v}')

원범 원범 혜원 혜원 혜원 혜원 유진 유진
혜원 has 4

In [ ]:
#원범 원범 혜원 혜원 유진 유진 유진 유진

data = input().split()
data_set = set(data)
data_dict = {}

print(data)
for key in data_set:
  data_dict[key] = data.count(key)

print(f'{max(data_dict, key = data_dict.get)} is {max(data_dict.values())}')

원범 원범 혜원 혜원 유진 유진 유진 유진
['원범', '원범', '혜원', '혜원', '유진', '유진', '유진', '유진']
유진 is 4

Q38

In [ ]:
l = input().split()
l_list = list(l)
l_set = set(l)

a = sorted(list(l_set))

b = a[:-4:-1]

n = 0
for i in b:
  n += l_list.count(i)
n

97 86 75 66 55 97 85 97 97 95

6

Q39

In [ ]:
sen = input()
s = ''
for i in sen:
  if i == 'q':
    s += 'e'
  elif i =='b':
    s += 'n'
  else:
    s += i
print(s)

hqllo my bamq is hyqwob
hello my name is hyewon

##1/2/22

Q40

In [ ]:
limit = int(input())
number = int(input())

friends = list(map(int,input().split()))

count = 0 
weight = 0 
for i in friends:
  if weight < limit:
    weight += i
    count +=1
  else:
    print(count)

50
5
20 20 20 20 20
3
3

In [ ]:
제한무게 = float(input())
친구수 = int(input())

친구몸무게 = []

for i in range(친구수):
  친구몸무게.append(float(input))

전체몸무게 = 0
for i in range(친구수):
  전체몸무게 += 친구몸무게[i]
  if 전체몸무게 > 제한무게:
    print(i)
    break

Q41

In [ ]:
num = int(input())

for i in range(1, num+1):
  if (num % i) == 0:
    if i == 1 and i == num:
      print("Yes")
    else:
      print("No")

20
No
No
No
No
No
No
No
No
No
No
No
No
No
No

Q42

In [ ]:
import datetime
def solution(a,b):
  date = datetime.datetime(2020, a, b)
  return date.strftime("%a")

solution(11, 15)
solution(5, 24)

'Sun'

Q43

16